<section class="section-detail">
     <ng-container *ngIf="userSignal() as user">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="user.avatar_url" class="avatar card-img-top object-fit-fill border rounded" alt="avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }} <small class="text-body-secondary">({{ user.type }})</small></h5>
                        <p class="card-text">{{ user.bio }}</p>
                        <a [href]="user.html_url" target="_blank">Open profile</a>
                    </div>
                </div>
            </div>
        </div>
     </ng-container>
</section>
